// variables

$primary: #00336A;
$secondary: #00558e;
$highligthing: #db5461;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $primary;
}

h1,
h2,
h3,
p,
li {
    color: #fff;
    line-height: 1.4rem;
}

h1,
h2 {
    text-align: center;
}

a {
    color: $highligthing;
}
