// variables

$primary: #00336A;
$secondary: #00558e;
$highligthing: #db5461;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding: 0;
}

h1,
h2,
h3,
p,
li {
    line-height: 1.4rem;
}

h1,
h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    line-height: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 3rem;
    line-height: 3rem;
}

p,
li {
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
}

p {
    font-size: 1rem;
}

a {
    color: #FFF;
    text-decoration: underline;
    &:hover {
        color: #db5461;
    }
}

li {
    margin-top: 1rem;;
}

.legal_wrapper {
    padding: 1rem;
    width: 60%;
    margin: 0 auto;

    h1,
    h2,
    p,
    a {
        color: #333;
    }

    h2 {
        margin-top: 3rem;
    }

    @media (max-width: 1055px) {
        width: 80%
    }

    @media (max-width: 672px) {
        width: 100%
    }
}