// variables

$primary: #00336A;
$secondary: #00558e;
$highligthing: #db5461;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding: 0;
}

h1,
h2,
h3,
p,
li {
    line-height: 1.4rem;
}

h1,
h2 {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    line-height: 2rem;
}

p,
li {
    font-family: 'Barlow', sans-serif;
    line-height: 1.5rem;
}

p {
    hyphens: auto;
    font-size: 1rem;
}

a {
    color: $highligthing;
    text-decoration: none;
}

li {
    margin-top: 1rem;;
}
